body {
    background-color: #6dbfb8;
    color: #fff;
}

.navbar-brand img {
    max-width: 130px;
}

.jumbotron {
    background-color: #f3ea5d;
}

.jumbotron h4 {
    color: #294745;
}

/* cards */

#quotes .col-4 .well {
    /* height: 30px; */
    /* border: 1px solid red; */
}



#quotes img {
    /* max-width: 100px; */
    height: 190px;
}

.resQuote {
    font-size: 20px;
}
